---
import React from 'react'
import { Image, Picture } from '@astrojs/image/components'
import BadgeTag from '../BadgeTag.astro'
const posts = await Astro.glob('../../pages/posts/*.mdx')
---

<div>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 m-1">
        {
            posts
                .sort((a, b) => (a.frontmatter.fortime < b.frontmatter.fortime ? 1 : -1))
                .filter((item, index) => index < 2)
                .map((post) => (
                    <li class="postlinkbox my-[-5px] mx-1">
                        <a href={post.frontmatter.url}>
                            <Image
                                class="postlinkbox-image duration-200 border border-slate-300 dark:border-zinc-700 rounded-xl mb-[-5px]"
                                alt={`${post.frontmatter.title} - EliasChen.dev`}
                                width={720 * 2}
                                aspectRatio={1.7}
                                src={post.frontmatter.heroImage}
                            />
                            <div class=" rounded-b-lg px-4 pt-4 ">
                                <h3 class="postlinkbox-title text-2xl font-mplus font-bold ">
                                    {post.frontmatter.title}
                                </h3>

                                {post.frontmatter.tag1 && <BadgeTag>{post.frontmatter.tag1}</BadgeTag>}
                                {post.frontmatter.tag2 && <BadgeTag>{post.frontmatter.tag2}</BadgeTag>}
                                {post.frontmatter.tag3 && <BadgeTag>{post.frontmatter.tag3}</BadgeTag>}
                                {post.frontmatter.tag4 && <BadgeTag>{post.frontmatter.tag4}</BadgeTag>}
                                {post.frontmatter.tag5 && <BadgeTag>{post.frontmatter.tag5}</BadgeTag>}
                                {post.frontmatter.tag6 && <BadgeTag>{post.frontmatter.tag6}</BadgeTag>}
                                {post.frontmatter.tag7 && <BadgeTag>{post.frontmatter.tag7}</BadgeTag>}
                                {post.frontmatter.tag8 && <BadgeTag>{post.frontmatter.tag8}</BadgeTag>}
                                {post.frontmatter.tag9 && <BadgeTag>{post.frontmatter.tag9}</BadgeTag>}

                                <p class="text-right">{post.frontmatter.date}</p>
                            </div>
                        </a>
                    </li>
                ))
        }
    </ul>
</div>
<style>
    .postlinkbox:hover .postlinkbox-title {
        text-decoration: underline;
    }
    .postlinkbox:hover .postlinkbox-image {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
</style>
