---
import React from 'react'
import { Image, Picture } from '@astrojs/image/components'
import BadgeTag from '../BadgeTag.astro'
const posts = await Astro.glob('../../pages/posts/*.mdx')
import { BiTimeFive } from 'react-icons/bi/index.js'
import { AiOutlineTags } from 'react-icons/ai/index.js'
---

<div>
    <ul class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-3 w-full gap-6 mt-4">
        {
            posts
                .sort((a, b) => (a.frontmatter.fortime < b.frontmatter.fortime ? 1 : -1))
                .filter((item, index) => index < 3)
                .map((post) => (
                    <a
                        href={post.frontmatter.url}
                        class="bg-gradient-to-r from-zinc-400 to-orange-500 w-full p-[6px] rounded-xl shadow-lg shodow-black-/5 dark:shadow-zinc-200/5 hover:shadow-2xl hover:scale-[103%] dark:hover:shadow-zinc-200/25 hover:shadow-black/25 duration-300"
                    >
                        <div class="flex flex-col cursor-pointer justify-between gap-4 p-4 dark:bg-zinc-800 bg-slate-200 rounded-lg h-full">
                            <div>
                                <h1 class="dark:text-zinc-300 text-zinc-900 mb-6 font-bold w-full tracking-tight m-0 text-xl">
                                    {post.frontmatter.title}
                                </h1>
                            </div>
                            <div class=" dark:text-zinc-400 text-zinc-500 gap-2 text-base items-center font-semibold">
                                <p class="m-0 inline-flex items-center">
                                    <BiTimeFive />
                                    {post.frontmatter.date}
                                </p>
                                <p class="m-0 inline-flex items-center">
                                    <AiOutlineTags />
                                    {post.frontmatter.tag1}
                                </p>
                            </div>
                        </div>
                    </a>
                ))
        }
    </ul>
</div>
<style>
    .postlinkbox:hover .postlinkbox-title {
        text-decoration: underline;
    }
    .postbox {
        margin-left: 0px !important;
    }
    .postbox:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        box-shadow: 0px 0px 25px 0px rgba(201, 201, 201, 0.393);
    }
    .postlinkbox:hover .postlinkbox-image {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
</style>
<!-- <a href={post.frontmatter.url}>
                            <Image
                                class="postlinkbox-image duration-200 border border-slate-300 dark:border-zinc-700 rounded-xl mb-[-5px]"
                                alt={`${post.frontmatter.title} - EliasChen.dev`}
                                width={720 * 2}
                                aspectRatio={1.7}
                                src={post.frontmatter.heroImage}
                            />
                            <div class=" rounded-b-lg px-4 pt-4 ">
                                <h3 class="postlinkbox-title text-2xl font-mplus font-bold ">
                                    {post.frontmatter.title}
                                </h3>

                                {post.frontmatter.tag1 && <BadgeTag>{post.frontmatter.tag1}</BadgeTag>}
                                {post.frontmatter.tag2 && <BadgeTag>{post.frontmatter.tag2}</BadgeTag>}
                                {post.frontmatter.tag3 && <BadgeTag>{post.frontmatter.tag3}</BadgeTag>}
                                {post.frontmatter.tag4 && <BadgeTag>{post.frontmatter.tag4}</BadgeTag>}
                                {post.frontmatter.tag5 && <BadgeTag>{post.frontmatter.tag5}</BadgeTag>}
                                {post.frontmatter.tag6 && <BadgeTag>{post.frontmatter.tag6}</BadgeTag>}
                                {post.frontmatter.tag7 && <BadgeTag>{post.frontmatter.tag7}</BadgeTag>}
                                {post.frontmatter.tag8 && <BadgeTag>{post.frontmatter.tag8}</BadgeTag>}
                                {post.frontmatter.tag9 && <BadgeTag>{post.frontmatter.tag9}</BadgeTag>}

                                <p class="text-right">{post.frontmatter.date}</p>
                            </div>
                        </a> -->
