---
import React from 'react'
import { Image, Picture } from '@astrojs/image/components'
const posts = (await Astro.glob('../../pages/posts/*.md')).sort(
    (a: any, b: any) => new Date(b.frontmatter.createdAt).valueOf() - new Date(a.frontmatter.createdAt).valueOf()
)
---

<div>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
        {
            posts.map((post) => (
                <li class="postlinkbox">
                    <a href={post.frontmatter.url}>
                        <Image
                            class="postlinkbox-image duration-200 rounded-xl border-[1px] "
                            alt="PostImage - EliasChen.dev"
                            src={import('../../../public/placeholder-hero.jpg')}
                        />
                        <div class=" rounded-b-lg p-4 ">
                            <h1 class="postlinkbox-title text-2xl font-mplus font-bold ">{post.frontmatter.title}</h1>
                            <p>{post.frontmatter.description}</p>
                            <div class="bg-purple-300 dark:bg-orange-500 font-bold rounded-md inline-flex text-xs px-1 py-[2px]">
                                #{post.frontmatter.tags}
                            </div>
                            <p class="text-right">{post.frontmatter.date}</p>
                        </div>
                    </a>
                </li>
            ))
        }
    </ul>
</div>
<style>
    .postlinkbox:hover .postlinkbox-title {
        text-decoration: underline;
    }
    .postlinkbox:hover .postlinkbox-image {
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -o-transform: scale(1.04);
        -ms-transform: scale(1.04);
        transform: scale(1.04);
    }
</style>
