---
import React from 'react'
import { Image, Picture } from '@astrojs/image/components'
const posts = (await Astro.glob('../../pages/works/*.mdx')).sort(
    (a: any, b: any) => new Date(b.frontmatter.createdAt).valueOf() - new Date(a.frontmatter.createdAt).valueOf()
)
---

<div>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 m-1">
        {
            posts
                .sort((a, b) => (a.frontmatter.fortime < b.frontmatter.fortime ? 1 : -1))
                .filter((item, index) => index < 2)
                .map((post) => (
                    <li class="postlinkbox ">
                        <a href={post.frontmatter.url}>
                      {post.frontmatter.lightImage &&    
                                        <Image
                                            class="dark:hidden block postlinkbox-image duration-200 border border-slate-300 dark:border-zinc-700 rounded-xl mb-[-5px]"
                                            src={post.frontmatter.lightImage}
                                            alt="PostImage - EliasChen.dev"
                                            width={720 * 2}
                                            aspectRatio={1.7}
                                        />
                                        <Image
                                            class="dark:block hidden postlinkbox-image duration-200 border border-slate-300 dark:border-zinc-700 rounded-xl mb-[-5px]"
                                            src={post.frontmatter.darkImage}
                                            alt="PostImage - EliasChen.dev"
                                            width={720 * 2}
                                            aspectRatio={1.7}
                                        />}
{post.frontmatter.heroImage &&<img class="block border border-slate-300 dark:border-zinc-700 rounded-xl" src={post.frontmatter.heroImage} alt={post.frontmatter.heroImage} />}
                            <div class=" rounded-b-lg p-4 ">
                                <h1 class="postlinkbox-title mb-0 text-2xl font-mplus font-bold ">
                                    {post.frontmatter.title}
                                </h1>
                                <div class="flex">
                                    <p>
                                        {post.frontmatter.startAt}
                                        {post.frontmatter.endAt && <p>-</p>}
                                        {post.frontmatter.endAt}
                                    </p>
                                    <p class="mx-1">&bull;</p>
                                    <p>{post.frontmatter.state}</p>
                                </div>
                                <div class="mt-1">
                                    <div class="bg-purple-300 dark:bg-orange-500 font-bold rounded-md inline-flex text-xs px-1 py-[2px] mr-1">
                                        {post.frontmatter.platform}
                                    </div>
                                    <div class="bg-green-300 dark:bg-blue-900 font-bold rounded-md inline-flex text-xs px-1 py-[2px]">
                                        {post.frontmatter.stack}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                ))
        }
    </ul>
</div>
<style>
    .postlinkbox:hover .postlinkbox-title {
        text-decoration: underline;
    }
    .postlinkbox:hover .postlinkbox-image {
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -o-transform: scale(1.04);
        -ms-transform: scale(1.04);
        transform: scale(1.04);
    }
</style>
