---
import React from 'react'
import { Image, Picture } from '@astrojs/image/components'
import BadgeWork from '../BadgeWork.astro';
const posts = (await Astro.glob('../../pages/works/*.mdx'))
---

<div>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
        {
            posts
                .sort((a, b) => (a.frontmatter.fortime < b.frontmatter.fortime ? 1 : -1))
                .filter((item, index) => index < 2)
                .map((post) => (
                    <li class="postlinkbox m-1">
                        <a href={post.frontmatter.url}>
                      {post.frontmatter.lightImage &&    
                                        <Image
                                            class="dark:hidden block postlinkbox-image duration-200 border border-slate-300 dark:border-zinc-700 rounded-xl mb-[-5px]"
                                            src={post.frontmatter.lightImage}
                                            alt={`${post.frontmatter.title} - EliasChen.dev`}
                                             width={720 * 2}
                                            aspectRatio={1.7}
                                        />
                                        <Image
                                            class="dark:block hidden postlinkbox-image duration-200 border border-slate-300 dark:border-zinc-700 rounded-xl mb-[-5px]"
                                            src={post.frontmatter.darkImage}
                                            alt={`${post.frontmatter.title} - EliasChen.dev`}
                                            width={720 * 2}
                                            aspectRatio={1.7}
                                        />}
                                        {post.frontmatter.heroImage && <img class="duration-200 postlinkbox-image block border border-slate-300 dark:border-zinc-700 rounded-xl" src={
                                    post.frontmatter.heroImage === undefined
                                        ? '/public/placeholder-workdefault.jpg'
                                        : post.frontmatter.heroImage
                                }  alt={`${post.frontmatter.title} - EliasChen.dev`} />}
                            <div class=" rounded-b-lg p-4 ">
                                <h1 class="postlinkbox-title mb-0 text-2xl font-mplus font-bold ">
                                    {post.frontmatter.title}
                                </h1>
                                <div class="flex">
                                    <p>
                                        {post.frontmatter.startAt}
                                        {post.frontmatter.endAt && <p>-</p>}
                                        {post.frontmatter.endAt}
                                    </p>
                                    <p class="mx-1">&bull;</p>
                                    <p>{post.frontmatter.state}</p>
                                </div>
                                <div class="mt-1">
                                    <div class="bg-purple-300 dark:bg-orange-500 font-bold rounded-md inline-flex text-xs px-1 py-[2px] mr-1">
                                        {post.frontmatter.platform}
                                    </div>
                                    <BadgeWork>
                                        {post.frontmatter.stack}
                                    </BadgeWork>
                                </div>
                            </div>
                        </a>
                    </li>
                ))
        }
    </ul>
</div>
<style>
    .postlinkbox:hover .postlinkbox-title {
        text-decoration: underline;
    }
      .postlinkbox:hover .postlinkbox-image {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
</style>
