---
import React from 'react'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import ContentXL from '../components/ContentXL.astro'
import BadgeTag from '../components/BadgeTag.astro'
import MediaShare from '../components/MediaShare.jsx'
export interface Props {
    content: {
        date?: string
        title: string
        description: string
        createdAt?: string
        updatedAt?: string
        heroImage?: string
        tag1?: string
        tag2?: string
        tag3?: string
        tag4?: string
        tag5?: string
        tag6?: string
        tag7?: string
        tag8?: string
        tag9?: string
        fortime?: string
        source?: string
    }
}

const {
    content: {
        title,
        description,
        source,
        heroImage,
        date,
        tag1,
        tag2,
        tag3,
        tag4,
        tag5,
        tag6,
        tag7,
        tag8,
        tag9,
        fortime,
    },
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={`${title} - EliasChen`} description={description} />
    </head>
    <Body>
        <Header />
        <main class="pt-[56px]">
            <ContentXL className="pt-6">
                <div class="mb-4">
                    {
                        heroImage && (
                            <img
                                class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                                src={heroImage === 'default' ? '../../public/placeholder-postdefault.jpg' : heroImage}
                                alt={`&{title} - EliasChen.dev`}
                            />
                        )
                    }
                </div>
                <!-- <div class="h-[4px] w-[40px] rounded-xl bg-orange-500"></div> -->
                <h1 class="text-3xl my-1 font-bold font-mplus text-orange-500">{title}</h1>
                <p class="text-md font-bold">{date}</p>
                {tag1 && <BadgeTag>{tag1}</BadgeTag>}
                {tag2 && <BadgeTag>{tag2}</BadgeTag>}
                {tag3 && <BadgeTag>{tag3}</BadgeTag>}
                {tag4 && <BadgeTag>{tag4}</BadgeTag>}
                {tag5 && <BadgeTag>{tag5}</BadgeTag>}
                {tag6 && <BadgeTag>{tag6}</BadgeTag>}
                {tag7 && <BadgeTag>{tag7}</BadgeTag>}
                {tag8 && <BadgeTag>{tag8}</BadgeTag>}
                {tag9 && <BadgeTag>{tag9}</BadgeTag>}
                <div>{description}</div>
                <div class="flex items-center float-right relative">
                    <MediaShare client:visible />
                </div>
                <hr class="border-top border-zinc-400 my-4" />
                <slot />
                <span class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500 text-2xl"></span>
                {source && <p class="text-xs mt-[20px] float-right">Source:&thinsp;{source}</p>}
            </ContentXL> 
        </main>
        <Footer />
    </Body>
</html>
